.banner{
  @include component_size;
  padding: 4rem;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:hover{
    transform: scale(1.1);
  }
  @include responsive($breakpoint-medium){
    width: 100%;
  }
  @media screen and (max-width: 626px) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }
  img{
    width: 7rem;
    object-fit: cover;
    z-index: 10;
    @media screen and (max-width: 626px) {
      position: relative;
      bottom: -2rem;
    }
  }
}
.banner-txt{
  flex: 1;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  transition: 0.5s;
  &:hover{
    filter: brightness(1.2);
    background: linear-gradient(91deg, #482566 0%, #161d52 99.51%);
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
  }
  div{
    p:first-child{
      font-size: $font-size-regular;
      font-weight: 500;
    }
    p:last-child{
      font-size: $font-size-small;
      font-weight: 400;
    }
  }
  button{
    @include button-style;
    background-color: #444;
    font-size: $font-size-small;
    font-weight: 500;
  }
}