.faq{
  @include component_size;
  margin: 4rem auto;
  h2{
    font-size: $font-size-medium;
    margin: 2rem 0 1rem;
    @include responsive($breakpoint-medium){
      font-size: $font-size-regular;
    }
  }
}
.faq-list{
  li{
    margin-bottom: 0.5rem;
  }
  button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $bg-color;
    padding: 1rem;
    cursor: pointer;
    &:hover{
      filter: brightness(1.4);
    }
  }
  button, p{
    width: 100%;
    text-align: left;
    font-size: $font-size-medium;
    background-color: #333;
    color: $text-color;
    font-weight: 400;
    @include responsive($breakpoint-large){
      font-size: $font-size-regular;
    }
    @include responsive($breakpoint-medium){
      font-size: $font-size-small;
    }
  }
  p{
    height: 0;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }
  p.open{
    height: auto;
    padding: 1rem 1rem 2rem;
    opacity: 1;
    visibility: visible;
  }
}