.memebership{
  @include component_size;
}
p{
  text-align: center;
}
.email-box{
  width: 50%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin: 0 auto;
  margin-top: 2rem;
  @media screen and (max-width:1440px) {
    width: 60%;
  }
  @include responsive($breakpoint-large){
    width: 80%;
  }
  @include responsive($breakpoint-small){
    flex-wrap: wrap;
    justify-content: center;
  }
  label{
    position: absolute;
    top:50%; left:1rem;
    transform: translateY(-50%);
    transition: 0.3s;
    color: #aaa;
    @include responsive($breakpoint-small){
      top:25%;
      transform: translateY(-75%);
    }
  }
  &.focused{
    label{
      top: 15px;
      font-size: 10px;
    }
  }
  input{
    @include input-style;
  }
  button{
    height: 3.5rem;
    line-height: 3.5rem;
    @include button-style;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-regular;
  }
}