@mixin button-style{
  background-color: $primary-color;
  color: $text-color;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  &:hover{
    filter: brightness(0.8);
  }
}
@mixin input-style{
  width: 100%;
  height: 3.5rem;
  font-size: $font-size-medium;
  border-radius: 0.3rem;
  padding: 1rem 1rem 0;
  background-color: rgba($color: #111, $alpha: 0.7);
  border: 1px solid #444;
  color: $text-color;
  // outline: none;
  &:focus{
    box-shadow: inset 0 0 4px $bg-color;
  }
  @include responsive($breakpoint-large){
    font-size: $font-size-regular;
  }
}
@mixin component_size{
  width: 80%;
  margin:0 auto;
}

@mixin responsive($breakpoint){
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}