//color
$primary-color: rgb(229, 9, 20);
$hover-color: rgb(153,22,29);
$bg-color:#000;
$text-color:#fff;
$text-sub-color:#aaa;

//font
$font-size-small: 16px;
$font-size-regular:20px;
$font-size-medium: 24px;
$font-size-large: 40px;

//responsive
$breakpoint-small: 600px;
$breakpoint-medium: 960px;
$breakpoint-large: 1024px;
